<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Jasmeet Singh - Developer</title>

	
<meta property="og:image" content="intro-bg.jpg" />


	

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>


  <% if notice %>
  <div class="alert alert-success" role="alert">
   <p class="notice"><%= notice %></p>
</div>  
   <% elsif alert %>
   <div class="alert alert-warning" role="alert">
    <p class="alert"><%= alert %></p>
</div>
  <% end %>

<nav class="navbar navbar-full navbar-dark " style="background-color: #2b334b;">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <%= link_to 'Jasmeet Singh', root_path , class: 'navbar-brand'%>
    
   		<ul class="nav navbar-nav float-lg-right">
      	<li class="nav-item">
         <%= link_to 'About' , about_path , class: 'nav-link' %> 
      </li>

      <li class="nav-item ">
        <%= link_to 'Projects' , projects_path , class: 'nav-link' %> 
      </li>

       <li class="nav-item ">
         <%= link_to 'Github' , github_path , class: 'nav-link' %> 
      </li>
       <li class="nav-item ">
         <%= link_to 'Blog' , posts_path , class: 'nav-link' %> 
      </li>
      <li class="nav-item ">
         <%= link_to 'Contact' , new_contact_path , class: 'nav-link' %> 
      </li>
      <li class="nav-item">
    <% if user_signed_in?%>
      <%= link_to "Sign Out",destroy_user_session_path, method: :delete,  class: 'nav-link' %>

    <% end%>
    </li>

      </ul>
      
   
  </div>
</nav>




<%= yield %>
<div class="footer">
<div class="container" >
	<div class="row">
		<div class="col-md-4 offset-md-4 " style="text-align: center;">
			 <i class="fa fa-facebook" aria-hidden="true"></i>
			 <i class="fa fa-linkedin" aria-hidden="true"></i>
			 <i class="fa fa-github" aria-hidden="true"></i>
			 <p style="padding: 3px;"></p>
			 <p style="color: #a9a9a9;font-size: 14px;">Copyright &copy; Jasmeet Singh Portfolio Web Site </p>
		</div>
	</div>
</div>
</div>


<script type="text/javascript">
var fade_out = function() {
  $(".notice,.alert").slideUp(300).fadeOut().empty();
}

setTimeout(fade_out, 2000);
</script>

<script >
  var terms = ["Full Stack Developer"," Computer Science Student", "Technology Blogger", "Open Source Enthusiast"];
function rotateTerm() {
  var ct = $("#rotate").data("term") || 0;
  $("#rotate").data("term", ct == terms.length -1 ? 0 : ct + 1).text(terms[ct]).fadeIn(800)
              .delay(2000).fadeOut(800, rotateTerm);
}
$(rotateTerm);
</script>

<script type="text/javascript">
var fade_out = function() {
  $(".notice,.alert").slideUp(300).fadeOut().empty();
}

setTimeout(fade_out, 2000);
</script>

<script >
function a() {
GitHubActivity.feed({
    username: "jasce",
    limit: 15 ,
    repository: "", // optional
    selector: "#feed",
     // optional
});
}
$(a);
</script>


</body>
</html>
