<!DOCTYPE html>
<html>
<head>
  <title>Jasmeet Singh - Developer</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="main_navigation"class="clearfix">
	<%= link_to "Jasmeet Singh", root_path, class: "name" %>
	
	<nav>
		<%= link_to "Articles",posts_path %>

		
		<a href="#">Projects</a>
		<a href="#">Contact</a>
	</nav>
	
</header>

<%= yield %>
<footer id="main_footer">
		<p class="copyright">&copy; 2016 Jasmeet Singh</p>
		<nav>
			<a href=""><i class="fa fa-linkedin"target="_blank"></i></a>
			<a href=""><i class="fa fa-facebook"target="_blank"></i></a>
			<a href=""><i class="fa fa-github"target="_blank"></i></a>
		</nav>
	</footer>

</body>
</html>
