<!DOCTYPE html>
<html>
<head>
  <title>Jasmeet Singh - Developer</title>

	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>	


	

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-dark">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <a class="navbar-brand" href="#">Jasmeet Singh</a>
    
   		<ul class="nav navbar-nav float-lg-right">
      	<li class="nav-item">
        <a class="nav-link" href="#">Resume<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="#">Projects<span class="sr-only">(current)</span></a>
      </li>

       <li class="nav-item ">
        <a class="nav-link" href="#">Github<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item ">
        <a class="nav-link" href="#">Blog<span class="sr-only">(current)</span></a>
      </li>
      </ul>
      
   
  </div>
</nav>




		<% if user_signed_in?%>
			<%= link_to "Sign Out",destroy_user_session_path,method: :delete %>

		<% end%>
		
		
	

	<% if notice %>
	 <p class="notice"><%= notice %></p>
	 <% elsif alert %>
 	<p class="alert"><%= alert %></p>
 	<% end %>






<%= yield %>


<script type="text/javascript">
var fade_out = function() {
  $(".notice,.alert").fadeOut().empty();
}

setTimeout(fade_out, 3000);
</script>

<script >
  var terms = ["Full Stack Developer"," Computer Science Student", "Technology Blogger", "Open Source Enthusiast"];
function rotateTerm() {
  var ct = $("#rotate").data("term") || 0;
  $("#rotate").data("term", ct == terms.length -1 ? 0 : ct + 1).text(terms[ct]).fadeIn(800)
              .delay(2000).fadeOut(800, rotateTerm);
}
$(rotateTerm);
</script>

</body>
</html>
